.App {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-top: 500px;
  height: 85vh;
}

input {
  margin-left: 20px;
  outline: none;
  &:first-child {
    margin-left: 0;
  }
}
